body {
    max
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    text-align: justify;
    border-bottom: 1px solid gainsboro;
    padding: 10px 20px 20px 20px;
}

nav > div {
    display: inline-block;
}

#google-logo {
    position: relative;
    top: 12px;
    left: 15px;
}

#search-bar {
    margin-left: 50px;
    width: 600px;
    border: 1px solid gainsboro;
    border-radius: 30px;
    padding: 15px 30px;
    background-image: url("search.png");
    background-position-y: center;
    background-position-x: 530px;
    background-size: 115px;
    background-repeat: no-repeat;

}

#google-apps-icon {
    position: relative;
    opacity: 0.8;
    right: 15px;
    top: 6px;
}

button#login {
    margin-right: 15px;
    background-color: #4284f3;
    color: white;
    padding: 10px 22px;
    border: 0px;
    font-size: 13px;
    border-radius: 4px;
}

#google-functions {
    margin-top: 15px;
    margin-left: 160px;
    width: 100%;
    text-align-last: initial;
}

#google-functions > a {
    position: relative;
    margin: 0px 10px;
    font-size: 13px;
    color: rgb(95, 95, 95);
}

#google-functions > a:hover {
    text-decoration: none;
}

#google-functions > #todos::after {
    content: "";
    width: 85px;
    height: 3px;
    background-color: #4284f3;
    position: absolute;
    bottom: -21px;
    left: -15px;
}

a {
    color: rgb(31, 31, 185);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#search-results {
    padding-top: 30px;
    padding-left: 180px;
}

.texto-gris {
    color: rgb(95, 95, 95);
}

.result {
    margin-bottom: 30px;
    width: 600px;
}

.result-name > a {
    font-size: 20px;
    line-height: 35px;
}

.result-link,
.result-info {
    font-size: 14px;
}

#preguntas-relacionadas {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 650px;
    border: 1px solid gainsboro;
    border-radius: 8px;
    transform: translate(-3px, 0);
    position: relative;
}

#preguntas-relacionadas::after {
    content: "Comentarios";
    position: absolute;
    font-style: italic;
    font-size: 12px;
    color: gray;
    bottom: -18px;
    right: 12px;
}

#preguntas-relacionadas > #preguntas-title {
    font-size: 18px;
}

#preguntas-relacionadas > div {
    padding: 15px;
    border-bottom: 1px solid gainsboro;
}

#preguntas-relacionadas > #ultima-pregunta {
    border: 0;
}
